.home-container{
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
